@media(max-width: 768px){
  .header__menu{
    display: grid;
    place-items: center;
  }

  .header__nav{
  a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0.2rem;
     }

     ul{
      display: flex;
      flex-direction: column;
     }
  }

  .header__container{
    position: absolute;
    top: 4rem;
    right: 0;
    width: 20%;
    z-index: 20;
    text-align: center;
    display: block;
    background: #333;
  }

  .header__container .hidden{
    display: none;
  }
}
