@import "variables";
@import "utilities";
@import "queries";
@import "mixins";


.header{
  display: flex;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  }

  .header__index{
     display: flex;
     background: transparent;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 4rem;
   }

.header__containerHidden {
  @include mq(812px){
 display: none;
 background: transparent;
  }
 
}
     
.header__container{
  flex: 1;
  width: 100vw;
  background: transparent;

  @include mq(812px){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    text-align: center;
    display: block;
    background: #333;
  }
  }

  .header__nav{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  
  ul{
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;

    @include mq(812px){
      display: flex;
      flex-direction: column;
    }
  }


  li > a{
    color: $color-primary;
    text-decoration: none;
    margin-left: 2rem;

      @include mq(812px) {
        display: flex;
        justify-content: center;
        padding: 0.4rem 0.2rem;
        color: $color-primary;
      }
  }

.active{
  text-decoration: underline;
  }
 }

 .header__menu{
  margin-right: 1rem;
  height: 100%;
  width: 1.6rem;
  display: none;
   
  i{
   color: $color-primary;
   font-size: 2rem;
   cursor: pointer;
 }

 @include mq(812px){
   position: absolute;
   z-index: 20;
   top: 0;
   right: 0.6rem;
   @include dflex-center;
 }
 }

.footer{
  height: 4rem;
  display: none;
  background: #333;

  // @include hmq(414px){
  //   display: none;
  // }
 }

