@import "queries";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
    background: $bg-color;
}

.app__global {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app__container {
  flex: 1;
}







