@import "queries";
@import "variables";
@import "utilities";

//Global Styles
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.height {
  flex: 1;
  background: $bg-color;
}

.color {
  color: purple;
  @include mq(600px) {
    color: red;
  }
  @include mq(500px) {
    color: green;
  }
}
