@import "variables";
@import "utilities";
@import "queries";

//Global Styles
.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.height{
  flex: 1;
  background: $bg-color;
}



