@import "variables";
@import "utilities";
@import "queries";
@import "mixins";



//Global Styles
.contact__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__main{
  flex: 0.5;
  display: grid;
  place-items: center;
}

.contact__form{
  display: block;
}

.contact__image{
  flex: 0.5;
  display: grid;
  place-items: center;
}


.container__index{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1502847427791-d0194ec4cff4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzR8fGJsYWNrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.index__height{
  flex: 1;
  
}

.projectCard {
  margin-top: 4rem;

  @include grid-3;
  max-width: 900px;
  margin: 60px auto 0;

  @include mq(800px) {
    max-width: 700px;
    margin: 60px auto 0;
    @include grid-2;
  }

  @include mq(600px) {
    max-width: 250px;
    @include grid-1;
  }
}

.card {
  text-align: center;
  cursor: pointer;
  border-radius: 18px;
  border: 1px solid $color-primary;
  padding: 20px;
  color: $color-primary;
  transition: transform 0.3s ease-in;
  filter: none;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -ms-filter: blur(0);

  &:hover {
    color: $color-tertiary;
    border: 1px solid $color-tertiary;
    transform: scale(1.05);
  }
}

.project__container {
  padding: 1rem;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 60px;
  @include mq(600px) {
    flex-direction: column;
    text-align: center;
  }
}

.project__left {
  @include dflex-center;
  margin-right: 20px;
  flex: 0.4;
}

.project__right {
  margin-left: auto;
  flex: 0.8;
  @include mq(600px) {
    margin-top: 1rem;
  }
}

.index__main{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
}

.background__image{
  position: fixed;
  z-index: -1;
}

.index__profile{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-self: center;

  @include wmq(768px){
    width: 10rem;
    height: 10rem;
  }
}

.index__info{
  width: 100%;
  height: 20%;
  color: $color-tertiary;
  margin: 0 auto;
  text-align: center;

  span{
    color: $color-primary;
    font-size: 1.7rem;
  }

  p{
    color: #d6d6d6;
  }

  @include wmq(768px){
    font-size: 2rem;

    span{
      font-size: 3rem;
    }
  }
  
}

.index__skills{
  width: 100%;
  height: 17.5%;
  display: flex;
  justify-content: space-evenly;

  i{
    color: #5c5c5c;
    font-size: 2rem;
    border-radius: 20px;

    @include wmq(768px){
      font-size: 3.5rem;
    }
  }
}

.index__icons{
  width: 100%;
  height: 17.5%;
  display: flex;
  justify-content: space-evenly;

  a > i{
    color: $color-primary;
    font-size: 2rem;
    border-radius: 20px;

    @include wmq(768px){
      font-size: 3.5rem;
    }
  }

  a > i:hover{
    color: $color-secondary;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.contact__main {
  position: relative;
}

// .contact__main img{

//   position: absolute;
//   height: 500px;
//  top: 50%;
//  left:50%;
//  transform: translate(-5%, 50%);

  

  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // background-image: url('../public/emaillogo.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  
// }

